:root {
  --yellow-orange-text: rgba(254, 190, 40, 1);
  --white-text: rgba(255, 255, 255, 1);
  --link-bg: rgba(255, 237, 99, 1);
  --link-text: rgba(0, 0, 0, 1);
}

.center-content-course {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

.course-structure {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.content-container {
  width: 80%;
  margin: 0 auto;
}

.head-where {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin: 20px 0;
  width: 100%;
  text-align: center;
  color: var(--yellow-orange-text);
}

.head-when {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0;
  width: 100%;
  text-align: center;
  color: var(--white-text);
}

.head-sub-data-span {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin: 20px 0;
  width: 100%;
  color: var(--yellow-orange-text);
}

.head-sub-data-p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin: 20px 0;
  width: 100%;
  color: var(--white-text);
}

.head-title {
  font-family: "Krona One", sans-serif;
  font-size: 40px;
  font-weight: 400;
  margin: 20px 0;
  width: 100%;
  text-align: center;
  color: var(--white-text);
}

.head-subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 400;
  width: 100%;
  text-align: center;
  color: var(--white-text);
}

.head-container {
  margin-top: 20px;
}

.fintech-bg-gradient {
  position: absolute;
  z-index: -1;
  width: 100%;
  top: 0;
  height: 821px;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 1) 100%), url("../static/public/fintech-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.course-container {
  display: grid;
  margin: 50px 0;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

li::marker {
  font-size: 15px;
}

.course-cell {
  align-items: start;
  margin: 20px 20px;
  align-self: start;
}

.cource-list {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

.cource-theme {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  color: var(--yellow-orange-text);
}

.link-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--link-bg);
  border-radius: 60px;
  width: 45%;
  height: 60px;
  margin-bottom: 20px;
  align-content: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

.link-btn-container a {
  text-decoration: none;
}

.link-btn p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  margin: 0 10px;
  color: var(--link-text);
  justify-self: center;
}

.link-btn img {
  grid-column: 1;
  grid-row: 1;
  margin: 0 10px;
  width: 60px;
  height: 60px;
  justify-self: self-end;
  margin: 0 10px;
}

.link-btn-highlight {
  font-family: "Korna One", sans-serif;
  font-weight: 700;
}

.link-btn-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 0px 20px 20px 20px;
  border: 1px solid #888;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  text-align: center;
  height: 250px;
}

.modal-content p {
  font-family: "Montserrat";
  font-size: 1vw;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

.down-arrow {
  width: 20px;
  height: 20px;
  margin-bottom: 1em;
  margin-right: 10px;
}

.non-login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.go-register-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.go-register {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--link-bg);
  border-radius: 60px;
  width: 70%;
  height: 60px;
  margin-bottom: 20px;
  align-content: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
  text-decoration: none;
}
.go-register p {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-align: left;
  margin: 0 10px;
  color: var(--link-text);
  justify-self: center;
}

.go-register img {
  margin: 0 10px;
  width: 40px;
  height: 40px;
  justify-self: self-end;
  margin: 0 10px;
}

.ul {
  font-size: 1.5vw;
  font-weight: 700;
}

/* Mobile devices (up to 768px) */
@media (max-width: 768px) {
  .content-container {
    width: 100%;
    margin: 0 auto;
  }

  .course-container {
    display: grid;
    margin: 50px 0;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .link-btn {
    border-radius: 60px;
    width: 82%;
    height: 60px;
    margin-bottom: 20px;
  }

  .link-btn img {
    margin: 0 10px;
    width: 35px;
    height: 35px;
    justify-self: self-end;
    margin: 0 10px;
  }

  .link-btn p {
    font-size: 3vw;
    font-weight: 400;
    margin: 0 10px;
  }

  .go-register-container {
    width: 100%;
    margin: 20px 0;
  }
  
  .go-register {
    width: 80%;
    height: 40px;
    margin-bottom: 20px;
  }
  
  .go-register p {
    font-size: 3vw;
    margin: 0 10px;
  }
  
  .go-register img {
    margin: 0 10px;
    width: 20px;
    height: 20px;
    margin: 0 10px;
  }

  .modal-content > p {
    font-size: 3.3vw;
  }

  .modal-content {
    margin: 15% auto;
    padding: 0px 20px 20px 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
  }
}

/* Laptops (769px to 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .content-container {
    width: 100%;
    margin: 0 auto;
  }

  .course-container {
    display: grid;
    margin: 50px 0;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .link-btn img {
    margin: 0 10px;
    width: 35px;
    height: 35px;
    justify-self: self-end;
    margin: 0 10px;
  }

  .link-btn p {
    font-size: 1.7vw;
    font-weight: 400;
    margin: 0 10px;
  }

  .go-register-container {
    width: 100%;
    margin: 20px 0;
  }
  
  .go-register {
    width: 70%;
    height: 60px;
    margin-bottom: 20px;
  }
  .go-register p {
    font-size: 1em;
    margin: 0 10px;
  }
  
  .go-register img {
    margin: 0 10px;
    width: 40px;
    height: 40px;
    margin: 0 10px;
  }

  .modal-content > p {
    font-size: 2vw;
  }
}

/* Desktops (1025px and up) */
@media (min-width: 1025px) and (max-width: 1550px) {
  .link-btn {
    border-radius: 60px;
    width: 72%;
    height: 60px;
    margin-bottom: 20px;
  }

  .link-btn img {
    margin: 0 10px;
    width: 45px;
    height: 45px;
    justify-self: self-end;
    margin: 0 10px;
  }

  .link-btn p {
    font-size: 2vw;
    font-weight: 400;
    margin: 0 10px;
  }

  .go-register-container {
    width: 100%;
    margin: 20px 0;
  }
  
  .go-register {
    width: 70%;
    height: 60px;
    margin-bottom: 20px;
  }
  .go-register p {
    font-size: 1em;
    margin: 0 10px;
  }
  
  .go-register img {
    margin: 0 10px;
    width: 40px;
    height: 40px;
    margin: 0 10px;
  }

  .modal-content > p {
    font-size: 1.6vw;
  }
}
