{% include "header.html" %}
  <div class="main-page-container">
    <div class="image-container">
      <img
        class="fintech-img"
        src="../static/public/fintech-bg.png"
        alt="fintech bg"
      />
      <h1 class="img-title">СТАНЬ ЕКСПЕРТОМ <br />У СФЕРІ FINTECH</h1>
      <a class="itstep-link" href="https://itstep.edu.ua/magisters-ka-programa-finteh-menedzment#gsc.tab=0" target="_blank" rel="noopener noreferrer">
        <div>
          в <span>IT STEP</span> Університеті
        </div>
        <img src="../static/public/arrow.png" alt="arrow" />
      </a>
    </div>

    <div class="text-container">
      <div class="text-box">
        Здобувайте професійні знання та практичні навички щодо використання
        технологій у бізнесі фінансових компаній
      </div>
      <div class="text-box">
        Дізнайтеся, як інвестують, переміщують, платять і захищають свої гроші в
        епоху діджиталізації
      </div>

      <div class="text-block">
        <span>Fintech School</span> надає теоретичні знання та практичні вміння і
        навички, достатні для здійснення професійної діяльності у сфері фінансів,
        банківської справи, страхування та фондового ринку, зокрема успішного
        виконання обов’язків та вирішення проблем щодо забезпечення фінансового
        менеджменту процесів з розробки, використання та ефективної імплементації
        інноваційних фінансових інструментів та технологій FinTech у діяльності
        професійних учасників фінансового ринку.
      </div>
      <div class="text-block">
        <span>Сучасний фінансовий сектор</span>  - це динамічна та розгалужена
        галузь, яка зазнала цифрової революції завдяки інтеграції фінансових
        технологій, що задовольняють різні аспекти фінансових потреб компаній та
        громадян в епоху змін. 
      </div>
    </div>

  </div>
</div>
  <div class="grid-section">
    <h1>Розвиток глобального Fintech ринку</h1>
    <div class="grid-container">
      <div class="grid-item ">
        <span>Глобальні цифрові інвестиції</span>
        домінують на світовому ринку з
        прогнозованою вартістю транзакцій у 2024 році майже
        <span>112,90 мільярдів доларів США</span>
      </div>
      <div class="grid-item ">Прогнозна вартість глобального
        ринку FinTech у 2024 році - <span>до
        133,84 мільярди доларів США,
        до 2028 року - до 492,8 млрд,
        2030 року - до 556,8 мільярди
        </span>
      </div>
      <div class="grid-item ">Кількість користувачів цифрових
        фінансових рішень — <span>5,62
        мільярдів</span>, а до 2027 року — <span>7
        мільярдів осіб
        </span>
      </div>
      <div class="grid-item ">З 2021 понад <span>80% компаній
        </span>
        Європи використовують сучасні
        цифрові технології для керування
        фінансовими аспектами бізнесу
        через <span>бізнесмоделі, програми
        та додатки
        </span>
      </div>
    </div>
  </div>
  <div class="link-btn-container">
    <a href="#" class="contact-btn">
      <p>Трансляції і записи на <span class="link-btn-highlight">YouTube</span></p>
      <img src="../static/public/arrow.png" alt="arrow" />
    </a>
  </div>

{% include "footer.html" %}
