{% include "header.html" %}
  <div class="main-page-container">
    <div class="image-container">
      <img
        class="fintech-img"
        src="../static/public/fintech-bg.png"
        alt="fintech bg"
      />
      <h1 class="img-title">СТАНЬ ЕКСПЕРТОМ <br />У СФЕРІ FINTECH</h1>
      <a class="itstep-link" href="https://itstep.edu.ua/magisters-ka-programa-finteh-menedzment#gsc.tab=0" target="_blank" rel="noopener noreferrer">
        <div>
          в <span>IT STEP</span> Університеті
        </div>
        <img src="../static/public/arrow.png" alt="arrow" />
      </a>
    </div>

    <div class="text-container">
      <div class="text-box">
        Здобувайте професійні знання та практичні навички щодо використання
        технологій у бізнесі фінансових компаній
      </div>
      <div class="text-box">
        Дізнайтеся, як інвестують, переміщують, платять і захищають свої гроші в
        епоху діджиталізації
      </div>

      <div class="text-block">
        <span>Fintech School</span> надає теоретичні знання та практичні вміння і
        навички, достатні для здійснення професійної діяльності у сфері фінансів,
        банківської справи, страхування та фондового ринку, зокрема успішного
        виконання обов’язків та вирішення проблем щодо забезпечення фінансового
        менеджменту процесів з розробки, використання та ефективної імплементації
        інноваційних фінансових інструментів та технологій FinTech у діяльності
        професійних учасників фінансового ринку.
      </div>
      <div class="text-block">
        <span>Сучасний фінансовий сектор</span>  - це динамічна та розгалужена
        галузь, яка зазнала цифрової революції завдяки інтеграції фінансових
        технологій, що задовольняють різні аспекти фінансових потреб компаній та
        громадян в епоху змін. 
      </div>
    </div>

  </div>
</div>
  <div class="grid-section">
    <h1>Розвиток глобального Fintech ринку</h1>
    <div class="grid-container">
      <div class="grid-item ">
        Ти отримаєш доступ до цікавих вакансій
        <span>
          у сфері управління проектами, геймінгу,
          відкритого банкінгу, DeFi проектів та крипто індустрії із середнім
          чеком оплати 3 000 доларів США в місяць
       </span>
      </div>
      <div class="grid-item ">
        Матимеш можливість працювати у стартапах, чи великих компаніях
        <span>
          на глобальному ринку FinTech, капіталізація якого досягла 550 мільярдів доларів
          США у 2024 році
        </span>
      </div>
      <div class="grid-item ">
        <span>Будеш першим</span> хто активно долучиться до розвитку Fintech ринку в Україні, який сьогодні
        налічує <span>418 Fintech стартапів</span>, зокрема компанії: <span>Goalsetter, DMarket, Monobank,
        Primex Finance, Saldo Apps, NovaPay, Easy Pay.</span>
      </div>
      <div class="grid-item ">
        Дізнаєшся про <span>стратегії власного добробуту</span> в інвестиції у цифрові активи.
        Експерти вказують, що в Україні цей ринок є першим за обсягом активів на рівні
        <span>141,30 млн долларі США у 2024 році, та збільшить дохід на 61,70 % у 2025 році.</span>
      </div>
    </div>
  </div>
  <div class="link-btn-container">
    <div class="text-container">
      <div class="text-box">
        Дізнайся більше про освіту магістра
        за унікальною навчальною програмою у сфері FinTech
        зі спеціальності - фінанси, банківська справа, страхування та фондовий ринок
      </div>
    </div>
    <a href="https://fsx1.itstep.org/api/v1/files/WUPmSD9jQbQwnpkZyQ_wKVku90zGyFqw?inline=true" class="contact-btn" target="_blank" rel="noopener noreferrer">
      <p>Магістерська  програма "Фінтех Менеджмент " <span class="link-btn-highlight"></span></p>
      <img src="../static/public/arrow.png" alt="arrow" />
    </a>
  </div>

{% include "footer.html" %}
