{% include "header.html" %}
  <div class="main-page-container">
    <div class="image-container">
      <img
        class="fintech-img"
        src="../static/public/fintech-bg.png"
        alt="fintech bg"
      />
      <h1 class="img-title">СТАРТ У FINTECH</h1>
      <a class="itstep-link" href="https://itstep.edu.ua/magisters-ka-programa-finteh-menedzment#gsc.tab=0" target="_blank" rel="noopener noreferrer">
        <div>
          в <span>IT STEP</span> Університеті
        </div>
        <img src="../static/public/arrow.png" alt="arrow" />
      </a>
    </div>

    <div class="text-container">
      <div class="text-box">
        Отримай доступ до знань та навичок у Fintech індустрії,
        що дають можливості від управління особистими фінансами до запуску стартапів 
      </div>
      <div class="text-box">
        Дізнайся, як Fintech змінює світ фінансів за допомогою інновацій - 
        цифрових банків, блокчейну, віртуальних активів, та DeFi
      </div>
      <div class="text-box">
        Реалізуй на практиці поєднання технологій та фінансів через
        кейси як інвестувати, переводити, та захищати свої кошти в
        епоху діджиталізації
      </div>

      <div class="text-block">
        <span><h3>Чому навчання у Fintech School?</h3></span>
        <ol>
          <li class="home-list">
            <span>Високий попит і перспективи працевлаштування</span> через швидке зростання ринку,
            міжнародні можливості як локально, так і віддалено, та можливість працювати
            в різних напрямах - від розробки ПЗ до маркетингу, аналітики данних,
            чи управління продуктом
          </li>
          <li class="home-list">
            <span>Високі зарплати.</span> Fintech входить до найбільш високооплачуваних галузей, оскільки 
            поєднує знання, та навички з фінансів і технологій. Середній рівень зарплат у сфері 
            Fintech у 2024 році складав понад 2000 USD на місяць. 
          </li>
          <li class="home-list">
            <span>Поєднання фінансів і технологій</span> через мультидисциплінарність, та 
                практичність, зокрема навчання у фінтехі дає змогу одночасно
                розвивати навички в технологіях (програмування, AI, блокчейн) та
                фінансах
          </li>
          <li class="home-list">
            <span>Інновації та креативність</span> через можливість
            створювати нові рішення для реальних проблем робить
            навчання захопливим і перспективним.
          </li>
          <li class="home-list">
            <span>Можливість працювати у стартапах чи великих компаніях</span>.
            Стартапи для тих, хто любить гнучкість, інновації та швидке зростання, а
            корпорації забезпечують стабільність, великі бюджети, розвиток у
            глобальному масштабі.
          </li>
          <li class="home-list">
            <span>Глобальний масштаб:</span> Fintech відкриває доступ до
            міжнародного ринку праці та співпраці з
            провідними компаніями (Stripe, PayPal, Revolut).
            Універсальність знань: навички фінтеху цінуються в будь-якій країні.
          </li>
          <li class="home-list">
            <span>Можливість власного бізнесу.</span>
            Fintech освіта дає базу для створення стартапів у сфері фінансів і
            технологій.
            Приклади: Monobank, Wise, Kraken — стартапи, засновані ентузіастами
            фінтеху.
          </li>
          <li class="home-list">
            <span>Соціальний вплив:</span> допомога у створенні доступних
            фінансових послуг для всіх верств
            населення (мікрокредитування, цифрові гаманці) забезпечує
            вплив на економіку та покращення фінансової грамотності людей.
          </li>
        </ol>
      </div>
      <div class="text-block">
        <span>Сучасний фінансовий сектор</span>  - це динамічна та розгалужена
        галузь, яка зазнала цифрової революції завдяки інтеграції
        технологій у реалії нашого життя, що задовольняють різні аспекти фінансових потреб компаній та
        громадян в епоху змін. 
      </div>
    </div>

  </div>
</div>
  <div class="grid-section">
    <h1>Розвиток глобального Fintech ринку</h1>
    <div class="grid-container">
      <div class="grid-item ">
        Ти отримаєш доступ до цікавих вакансій
        <span>
          у сфері управління проектами, геймінгу,
          відкритого банкінгу, DeFi проектів та крипто індустрії із середнім
          чеком оплати 3 000 доларів США в місяць
       </span>
      </div>
      <div class="grid-item ">
        Матимеш можливість працювати у стартапах, чи великих компаніях
        <span>
          на глобальному ринку FinTech, капіталізація якого досягла 550 мільярдів доларів
          США у 2024 році
        </span>
      </div>
      <div class="grid-item ">
        <span>Будеш першим</span> хто активно долучиться до розвитку Fintech ринку в Україні, який сьогодні
        налічує <span>418 Fintech стартапів</span>, зокрема компанії: <span>Goalsetter, DMarket, Monobank,
        Primex Finance, Saldo Apps, NovaPay, Easy Pay.</span>
      </div>
      <div class="grid-item ">
        Дізнаєшся про <span>стратегії власного добробуту</span> в інвестиції у цифрові активи.
        Експерти вказують, що в Україні цей ринок є першим за обсягом активів на рівні
        <span>141,30 млн долларі США у 2024 році, та збільшить дохід на 61,70 % у 2025 році.</span>
      </div>
    </div>
  </div>
  <div class="link-btn-container">
    <div class="text-container">
      <div class="text-box">
        Дізнайся більше про освіту магістра
        за унікальною навчальною програмою у сфері FinTech
        зі спеціальності - фінанси, банківська справа, страхування та фондовий ринок
      </div>
    </div>
    <a href="https://fsx1.itstep.org/api/v1/files/WUPmSD9jQbQwnpkZyQ_wKVku90zGyFqw?inline=true" class="contact-btn" target="_blank" rel="noopener noreferrer">
      <p>Магістерська  програма "Фінтех Менеджмент " <span class="link-btn-highlight"></span></p>
      <img src="../static/public/arrow.png" alt="arrow" />
    </a>
  </div>

{% include "footer.html" %}
